@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  
  --main-color: #29394f;
  --component-bg: #16263c;

  --container: rgba( 22, 38, 60, 0.50 );

  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  --blur: 
}

* {
  box-sizing: border-box;
}

html{
  font-size: 100%;
}

body {
  background-image: linear-gradient(to right, #4b79a1, #283e51);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}


h1 {
  font-size: 2.488rem;
  letter-spacing: 1px;
  margin: 0;
  color: white;
  text-align: center;
}

h2{
  font-size: 2.074rem;
  margin: .5em;
}

h3 {
  font-size: 1.728rem;
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
  color: white;
}

h4 {
  font-size: 1.44rem;
  margin: 0;
  text-transform: uppercase;
}

/* CONTAINER STYLES  */

.main-container{
  background: rgba( 75, 121, 161, 0.50 );
  box-shadow: var(--box-shadow);
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
 
  /* background-color: var(--main-color); */
  height: auto;
  width: 100%;
  padding: 10px 10px;
  border-radius: 15px;
  margin: 2rem 0;
}

.balance-container {
  background: var(--container);
  box-shadow:var(--box-shadow);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  margin: 30px auto;
  width: 350px;
  border-radius: 15px;
  padding: 10px 10px;
  color: #fff;
}
.balance-container > h2, h3{
  text-align: center;
  border-bottom: none;
}


.inc-exp-container {
  /* background-color: var(--component-bg); */
  background: rgba( 22, 38, 60, 0.50 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: white;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}




.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus::before, .plus {
  content: '+';
  color: #2ecc71;
}

.money.minus::before, .minus {
  content: "-";
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #141d2b;
  box-shadow: var(--box-shadow);
  color: #fff;
  border-radius: 0 0 16px 16px;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  margin: 10px 0 30px;
  margin-top: auto;
  padding: 18px 8px;
  width: 100%;
}



.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}
